.hero {
  height: 364px;
  background: url('virus.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  margin: 0 auto;
}

.hero-info {
  box-shadow: 0 0 16px var(--color-gray);
  height: 200px;
  padding: 30px 30px;
  background-color: var(--color-light);
  width: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-radius: var(--border-radius);
  text-shadow: 0.8px 0.8px 1px rgb(30, 30, 30);
}

.hero-info > h1 {
  margin: 0;
  font-size: 30px;
}

.shrift {
  font-size: 1.1em;
}
.stores-cards {
  display: grid;  
  grid-template-columns: auto;
  grid-template-rows: auto;
  column-gap: 35px;
  row-gap: 40px;
  justify-content: stretch;
  margin-bottom: 45px;
  margin-top: 30px;
  text-decoration: none;
  color: var(--color-dark);
  font-size: 1.1em;
}

.stores-header {
  margin-top: 50px;
  margin-bottom: 4px;
  line-height: 1.5em;
}

.stores-card:hover {
  background-color: var(--color-lightergray);
}

.stores-card-pic {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.stores-card-pic1 {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  opacity: 90;
  margin-right: 10px;
}

.stores-card-pic2 {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  opacity: 0;
  margin-left: 10px;
}

.stores-card-pic img {
  transition: 0.3s;
  width: 100%;
}

.stores-card-pic img:hover {
  transform: scale(1.03);
}

i {
  font-size: 1.05em;
}

/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.stores-cards {
  width: 80%; /* Ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера */
}

/* Медиа-запрос для маленьких устройств, например, мобильных телефонов */
@media screen and (max-width: 600px) {
  .stores-cards {
      width: 100%; /* Ширина контейнера на узких экранах */
  }
}

/* Медиа-запрос для средних устройств, например, планшетов */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .stores-cards {
      width: 90%; /* Ширина контейнера на средних экранах */
  }
}

/* Медиа-запрос для больших устройств, например, настольных компьютеров */
@media screen and (min-width: 1025px) {
  .stores-cards {
      width: 80%; /* Ширина контейнера на больших экранах */
  }
}